{% extends "events/base.html" %}

{% block content %}
    <h2>Lista de eventos disponiveis</h2>

    {% if events %}
        <div>
            <ul>
                {% for event in events %}
                    <li>
                        <h1>{{ event.title }}</h1>
                        <p>{{ event.description }}</p>
                        <p>Quando: {{event.date}}</p>
                        <p>Local: {{event.address}}</p>
                        <p>Descricao: {{event.description}}</p>
                        
                        {% for category in event.categories.all %}
                            <span> {{category.name}}</span>
                        {% endfor %}

                        <a>Ver Detalhes</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    
    {% else %}
        <b><h3>Nenhum evento novo....</h3></b>
    {% endif %}

{% endblock %}